@import 'bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Exo', sans-serif;
}

h4 {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.pokemon-list a:hover h6,
.icon-text {
  font-weight: bold;
}

.pokemon-list a:hover .icon-text {
  margin-bottom: -3px;
  border-bottom: 3px solid #ccdddd;
}

.icon-text {
  color: #d3d9df;
  background-color: #526c85;
  padding: 50px 10px 10px 10px;
  margin-top: -40px;
  text-align: center;
}

.header {
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
}

.types-ico {
  width: 32px;
  height: 32px;
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
}

.img-ico {
  width: 150px;
  height: 150px;
  background: #eeeee7;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  grid-gap: 20px;
  justify-items: center;
}

.container-bg {
  background: url('https://static.tumblr.com/6c423f6544546467c674b5ff3d47002a/tj7pzs0/ysqo2qgm6/tumblr_static_optica_pattern_03_focused_v3.png')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-control {
  box-shadow: 0px -1px 21px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px -1px 21px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -1px 21px 8px rgba(0, 0, 0, 0.15);
}

.pokemonScreen {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-blend-mode: screen;
  color: #575858;
}

.poke-name {
  padding: 0 10px;
  font-size: 7.5vh;
  font-weight: bolder;
  opacity: 0.25;
  color: #000000;
  margin-top: -20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-btn a {
  position: absolute;
  font-size: xx-large;
  padding-top: 10px;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}
